@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Результати Запиту";
}

<h2>Результати Запиту</h2>

<table class="table">
    <thead>
        <tr>
            @foreach (var prop in Model.First().GetType().GetProperties())
            {
                <th>@prop.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var prop in item.GetType().GetProperties())
                {
                    <td>@prop.GetValue(item)</td>
                }
            </tr>
        }
    </tbody>
</table>
